@model LibraryManagementSystemDemo.Models.ReservationView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reserve</title>
</head>
<body>
<div>
    @using (Html.BeginForm("SendReserve", "Book", FormMethod.Post, new { reservation = Model}))
    {
        @Html.HiddenFor(model => model.BookId);
        <table>
            <tr>
                <th>@Html.LabelFor(model => model.FirstName)</th>
                <td>@Html.TextBoxFor(model => model.FirstName)</td>
                <td>@Html.ValidationMessageFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.LastName)</th>
                <td>@Html.TextBoxFor(model => model.LastName)</td>
                <td>@Html.ValidationMessageFor(model => model.LastName)</td>
            </tr>
              
        </table>

        <input type="submit" value="Reserve">
    }
</div>
</body>
</html>
